/* шрифты*/
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../font/subset-ProximaNova-Bold.eot');
  src: url('../font/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../font/subset-ProximaNova-Bold.woff2') format('woff2'), url('../font/subset-ProximaNova-Bold.woff') format('woff'), url('../font/subset-ProximaNova-Bold.ttf') format('truetype'), url('../font/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../font/subset-ProximaNova-Regular.eot');
  src: url('../font/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../font/subset-ProximaNova-Regular.woff2') format('woff2'), url('../font/subset-ProximaNova-Regular.woff') format('woff'), url('../font/subset-ProximaNova-Regular.ttf') format('truetype'), url('../font/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Colors */
/*Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Rg', sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  /*выравнивание кнопки по вертикали по центру с помощью элемента wrap - таблица/ячейка */
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.button {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
  background-color: #fdc235;
}
.phonelink {
  display: block;
  font-family: 'ProximaNova_Bold', sans-serif;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  height: 7rem;
  line-height: 7rem;
  /* выравнивание 1 строки в блоке по середине с помощью одинаковой высоты*/
  color: #1a1820;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section {
  /*тут, по идее, нужно описать общие стили для всех секций.
 т.е. сначала проанализировать сколько видов текста в каждой секции и описать их  однотипно.
 и потом менять только цвет или др. ОТЛИЧИЯ
 Но тут не всё верно - чне все стили описаны однотипно*/
}
.section h2 {
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.section p {
  font-size: 1.4rem;
}
.section h3 {
  font-size: 1.8rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.section-header {
  text-align: center;
  margin: 1rem 0 8rem;
}
.section-header-light {
  color: #ffffff;
}
.main {
  padding: 2rem 0;
  background: #ffffff url(../img/MainBG.jpg) center 0 no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 5rem 0;
}
.main-label {
  display: inline-block;
  padding: 2.5rem 4rem;
  color: #ffffff;
  background-color: #46b814;
}
.main-label strong {
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}
.main-form {
  padding: 4.5rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  font-size: 1.8rem;
  margin: 0 0 3.5rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  border-radius: 5px;
}
.main-form label {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  height: 6rem;
  font-size: 1.8rem;
  width: 100%;
}
.main-form small {
  display: inline-block;
  margin-top: 2rem;
}
.main-prim {
  padding: 2rem 0;
  text-align: center;
}
/* оформление слайдера */
.features-block {
  text-align: center;
  /* overflow: hidden; */
}
.features-img img {
  width: auto;
  height: 6rem;
  display: block;
  margin: 0 auto 3rem;
}
.features-block h3 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.5rem;
}
.features-block p {
  display: inline-block;
  width: 90%;
  margin: 1.5rem auto;
}
.features-block strong {
  color: #46b814;
}
.arrow {
  border: red;
  position: absolute;
  top: 10%;
  margin: 0;
  z-index: 99;
  font-size: 0;
  width: 3rem;
  height: 3rem;
}
.next {
  right: 0;
  background: url(../img/nextArrow.png) center no-repeat;
  background-size: 100%;
}
.prev {
  left: 0;
  background: url(../img/prevArrow.png) center no-repeat;
  background-size: 100%;
}
.price {
  background: url(../img/prices/prices-bg.jpg) no-repeat center;
  text-align: center;
}
.price .section-header-light {
  marging-top: 4rem;
  margin-bottom: 8rem;
}
.price h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.price p {
  font-size: 1.8rem;
}
.price-div-btn {
  text-align: right;
}
.price-header-btn {
  margin-top: 2rem;
}
.price .button {
  padding: 1.5rem 3.5rem;
  font-size: 1.6rem;
}
.price-block {
  padding: 4rem 0;
  width: 36rem;
  background: #ffffff;
  -webkit-box-shadow: 14px 14px 21px 0px rgba(0, 0, 0, 0);
          box-shadow: 14px 14px 21px 0px rgba(0, 0, 0, 0);
  text-align: center;
  margin: 2rem auto;
}
.price-block h4 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.9rem;
  margin-bottom: 4rem;
}
.price-img {
  /* вписывание рисунка в блок по размеру блока и выравнивание по центру*/
  display: block;
  position: relative;
  width: 30rem;
  height: 20rem;
  margin: 2rem auto;
  overflow: hidden;
  background-repeat: cover;
}
.price-img img {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 100%;
  min-width: auto;
  /* max-width: 30rem; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.price-tag {
  margin: 5rem;
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.price-list,
.price-list-mob {
  min-height: 14rem;
  margin: 1rem auto;
  padding: 0;
  /* убираем стандартный отступ */
  line-height: 1.5;
  font-size: 1.7rem;
  /* вариант со значком, но значёк должен быть изначально нужного размера
		list-style-position: inside; значён прижат к тексту 
		list-style-image: url("../img/price/v.png"); значёк из рисунка */
  /*вариант через псевдоэлемент before*/
  list-style: none;
}
.price-list li::before,
.price-list-mob li::before {
  content: '';
  margin-right: 1rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url("../img/prices/v.png") no-repeat center;
  background-size: 80%;
  vertical-align: middle;
}
.price-list-mob {
  min-height: auto;
}
.price-ref {
  display: none;
}
/* секция с отзывами */
.feedback {
  position: relative;
  background: url("../img/FeedFoto/feedback-bg.jpg") no-repeat center;
  background-size: cover;
}
.feedback-text {
  margin-top: 1.5rem;
  position: relative;
  font-style: italic;
  border: 2px solid #46b814;
  padding: 1.5rem;
}
.feedback-text::before {
  position: absolute;
  display: block;
  content: '';
  width: 2rem;
  height: 2.5rem;
  top: -2.5rem;
  left: 4rem;
  border: 2px solid #46b814;
  border-bottom: none;
  background-color: #ffffff;
  border-top-right-radius: 200px;
  z-index: 2;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  right: -5rem;
}
.feedback-slider {
  background-color: #ffffff;
  padding: 5rem 6rem;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_Bold', sans-serif;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  width: 5rem;
  height: 6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: #46b814;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  /* форма в секции с отзывами, необходимые модификации */
  margin-top: 5rem;
}
.feedback-form .main-form-header {
  margin-bottom: 1rem;
}
.feedback-form .main-form-btn {
  max-width: 30rem;
  margin: auto;
}
.feedback-form label {
  -webkit-transform: translateX(-50%) translateY(8px);
          transform: translateX(-50%) translateY(8px);
}
.feedback .hand {
  position: absolute;
  bottom: 0;
  left: 1rem;
  max-width: 30%;
}
.scheme {
  background: #ffffff url(../img/scheme/hand.png) bottom right -8rem no-repeat;
  background-size: 65rem;
}
.scheme-block {
  text-align: left;
  height: 250px;
  /* высоту - явно для вырвнивания и ширину задаём с помощью col-3* - для адаптивности*/
}
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .media {
  height: 10rem;
}
.all-inclusive h2 {
  color: #46b814;
}
.all-inclusive h3 {
  font-size: 1.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
.all-inclusive .circle {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #46b814;
  border-radius: 50%;
  font-family: 'ProximaNova_Bold', sans-serif;
  color: #ffffff;
}
.all-inclusive .circle-border {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  line-height: 3rem;
  /* равно высоте внутреннего элемента*/
  padding: 3px;
  /* чтобы выставить в центре*/
}
/* развеем опасения*/
.problems {
  background: url(../img/girl.png) no-repeat bottom center;
  background-size: content;
}
.problems-smoll {
  display: none;
  font-size: 1.5em;
}
.problems-smoll_good {
  border: 4px solid #46b814;
  color: #46b814;
}
.problems-list {
  padding-top: 2rem;
  border: 4px solid;
  margin-bottom: 2rem;
}
.problems-list h3 {
  margin-left: 2rem;
}
.problems-list ul {
  list-style: none;
  padding: 2rem 2rem 0;
}
.problems-list ul li {
  display: block;
  position: relative;
  height: 6rem;
  padding-left: 4rem;
  font-size: 1.4rem;
}
.problems-list ul li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
}
.problems-list_bad {
  border-color: #afafaf;
}
.problems-list_bad h3 {
  color: #afafaf;
}
.problems-list_bad ul li:before {
  background: url(../img/cancel.png) no-repeat center;
  background-size: contain;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  background: url(../img/check.png) no-repeat center;
  background-size: contain;
}
.materials {
  background: #ffffff url(../img/materials/material-bg.png) center no-repeat;
  background-size: cover;
}
.materials-block {
  text-align: center;
  /* overflow: hidden; */
}
.materials-img img {
  width: auto;
  height: 18rem;
  display: block;
  margin: 0 auto 3rem;
}
.materials-block h3 {
  font-weight: 700;
}
.materials-block p {
  display: inline-block;
  width: 90%;
  margin: 1.5rem auto;
}
.materials-link {
  color: #46b814;
  border-bottom: 1px dotted #46b814;
}
.materials-link:hover {
  color: #348a0f;
}
.materials-bottom {
  text-align: center;
  margin-top: 3rem;
}
.materials .arrow {
  top: 20%;
}
.tour {
  background: #ffffff url(../img/tour.png) center right -10rem no-repeat;
  /* выравнивание по высоте по центру и по правому, но с отступом влево (-10) */
  margin-bottom: 0;
}
.uppsell {
  background: url(../img/uppsell/bg.png) no-repeat center;
  text-align: center;
  margin-top: -7rem;
}
.uppsell h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.uppsell p {
  font-size: 1.8rem;
}
.uppsell .button {
  padding: 1.5rem 3.5rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.uppsell-link {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.9rem;
  margin: 2rem 0;
  color: #ffffff;
}
.uppsell-img {
  /* вписывание рисунка в блок по размеру блока и выравнивание по центру*/
  display: block;
  position: relative;
  width: 30rem;
  height: 18rem;
  margin: 0 auto;
  overflow: hidden;
  background-repeat: cover;
}
.uppsell-img img {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 100%;
  min-width: auto;
  /* max-width: 30rem; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contakts {
  background: #f5f5f5 url(../img/footer-bg.png) center right -18rem no-repeat;
  background-size: cover;
}
.contakts h2 {
  margin-top: 0;
}
.contakts .map {
  /* размеры для карты лучше задать сдесь и убрать из html  файла*/
  width: 100% important !important;
  height: 400px;
  border: none;
}
.contakts-link {
  display: inline-block;
  color: #1a1820;
  border-bottom: 1px dotted #1a1820;
}
.contakts-link:hover {
  color: #020203;
}
.contakts p {
  margin: 2rem 0;
}
.contakts .main-form h2 {
  font-family: 'ProximaNova_Rg', sans-serif;
  font-size: 1.9rem;
}
.contakts .main-form-btn {
  font-size: 1.4rem;
}
/* оформление подвала footer */
footer {
  background: #ffffff;
  padding: 4rem;
}
footer .footer-contact {
  text-align: center;
}
footer .footer-logo {
  margin-right: 2rem;
  text-align: right;
  font-size: 1rem;
}
footer .footer-logo p {
  display: block;
  margin-left: auto;
  width: 6rem;
  margin-bottom: 0;
  line-height: 1;
}
/*Оформление модальных окон */
/*.popup-header {
	display: none;
} */
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  padding: 4rem 6rem;
}
.popup-form {
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.3rem;
  right: -3rem;
  font-size: 3rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_Bold', sans-serif;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .price h4 {
    font-size: 1.5rem;
  }
  .price-block {
    width: 28rem;
  }
  .price-tag {
    font-size: 1.7rem;
  }
  .price-img {
    width: 24rem;
    height: 17rem;
  }
  .price-img img {
    width: 95%;
    height: 95%;
  }
  .price-list {
    font-size: 1.4rem;
  }
  .contakts {
    background-position: 65% 50%;
    /* меняем позиционирование, чтобы картинка не перекрывала надпись*/
  }
  .feedback-form {
    padding: 2rem 0rem;
  }
  .feedback-form label {
    padding: 0rem;
  }
}
@media (max-width: 991px) {
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .feedback-form label {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .main {
    background-position: right;
  }
  .phonelink {
    text-align: right;
  }
  .main-content {
    margin-top: 4rem;
    text-align: center;
  }
  .main-form {
    margin-top: 4rem;
  }
  .wrap-block {
    text-align: center;
  }
  .price {
    background-size: 100% 100%;
  }
  .price-div-btn {
    text-align: center;
  }
  .price-header-btn {
    margin-bottom: 2rem;
  }
  .price-list {
    display: none;
    /* visibility: hidden;
			min-height: 0;	
			height: 0;
			width: 0; */
  }
  .price-ref {
    display: block;
    text-align: center;
  }
  .price-ref p {
    font-size: 1.8rem;
    color: #46b814;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-color: #dae9da;
            text-decoration-color: #dae9da;
    font-family: 'ProximaNova_Bold', sans-serif;
  }
  .tour {
    background: none;
    background-color: #f5f5f5;
  }
  .uppsell {
    background: none;
    background-color: #2c730d;
  }
  .problems {
    background: #ffffff;
  }
  .contakts {
    background: #f5f5f5;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .logo {
    margin-bottom: 1rem;
  }
  footer .footer-logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  footer .footer-logo p {
    width: 20rem;
    margin: auto;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .main {
    text-align: center;
    background-position: left;
  }
  .phonelink {
    text-align: center;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background: #ffffff;
  }
  .scheme-block {
    text-align: center;
    min-height: auto;
  }
  .problems {
    margin-top: -10rem;
    padding-top: 2rem;
  }
  .problems h2 {
    font-size: 2.6rem;
  }
  .problems .section-header {
    margin: 0;
  }
  .problems-lage {
    display: none;
  }
  .problems-smoll {
    display: block;
    margin: 2rem;
    font-size: 1.8rem;
  }
  .problems-smoll h3 {
    text-align: center;
    font-size: 2rem;
  }
  .problems-smoll_good,
  .problems-smoll_bad {
    padding: 1rem;
  }
}
@media (max-width: 575px) {
  .main h1 {
    font-size: 2rem;
  }
  .tour .button {
    font-size: 1.2rem;
  }
}
