/* шрифты*/
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../font/subset-ProximaNova-Bold.eot');
  src: url('../font/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../font/subset-ProximaNova-Bold.woff2') format('woff2'), url('../font/subset-ProximaNova-Bold.woff') format('woff'), url('../font/subset-ProximaNova-Bold.ttf') format('truetype'), url('../font/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../font/subset-ProximaNova-Regular.eot');
  src: url('../font/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../font/subset-ProximaNova-Regular.woff2') format('woff2'), url('../font/subset-ProximaNova-Regular.woff') format('woff'), url('../font/subset-ProximaNova-Regular.ttf') format('truetype'), url('../font/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Colors */
/*Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Rg', sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  /*выравнивание кнопки по вертикали по центру с помощью элемента wrap - таблица/ячейка */
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.button {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
.button:hover {
  cursor: pointer;
  background-color: #fdc235;
}
.phonelink {
  display: block;
  font-family: 'ProximaNova_Bold', sans-serif;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  height: 7rem;
  line-height: 7rem;
  /* выравнивание 1 строки в блоке по середине с помощью одинаковой высоты*/
  color: #1a1820;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  text-align: center;
  margin: 2rem 0 10rem;
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main {
  padding: 2rem 0;
  background: #ffffff url(../img/MainBG.jpg) center 0 no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 5rem 0;
}
.main-label {
  display: inline-block;
  padding: 2.5rem 4rem;
  color: #ffffff;
  background-color: #46b814;
}
.main-label strong {
  font-size: 2.5rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}
.main-form {
  padding: 4.5rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  font-size: 1.8rem;
  margin: 0 0 3.5rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
  border-radius: 5px;
}
.main-form label {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  height: 6rem;
  font-size: 1.8rem;
  width: 100%;
}
.main-form small {
  display: inline-block;
  margin-top: 2rem;
}
.main-prim {
  padding: 2rem 0;
  text-align: center;
}
/* оформление слайдера */
.features-block {
  text-align: center;
  /* overflow: hidden; */
}
.features-img img {
  width: auto;
  height: 6rem;
  display: block;
  margin: 0 auto 3rem;
}
.features-block h3 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 1.5rem;
}
.features-block p {
  display: inline-block;
  width: 90%;
  margin: 1.5rem auto;
}
.features-block strong {
  color: #46b814;
}
.features .arrow {
  border: none;
  position: absolute;
  top: 10%;
  margin: 0;
  z-index: 99;
  font-size: 0;
  width: 3rem;
  height: 3rem;
}
.features .next {
  right: 0;
  background: url(../img/right-arrow.png) center no-repeat;
  background-size: 100%;
}
.features .prev {
  left: 0;
  background: url(../img/left-arrow.png) center no-repeat;
  background-size: 100%;
}
/*Оформление модальных окон */
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  padding: 4rem 6rem;
}
.popup-form {
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.3rem;
  right: -3rem;
  font-size: 3rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_Bold', sans-serif;
}
@media (max-width: 991px) {
  .main {
    background-position: right;
  }
  .phonelink {
    text-align: right;
  }
  .main-content {
    margin-top: 4rem;
    text-align: center;
  }
  .main-form {
    margin-top: 4rem;
  }
  .wrap-block {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: left;
  }
  .phonelink {
    text-align: center;
  }
}
